.confirmation_table {
    border-collapse: collapse;
    width: fit-content;
    margin: 5px auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.confirmation_th{
    padding: 0.75em 1em;
    border: 1px solid #ccc;
    text-align: left;
    background-color: rgba(126, 59, 81, 0.61);
}
.confirmation_td {
    padding: 0.75em 1em;
    border: 1px solid #ccc;
    text-align: left;
    background-color: rgba(246, 208, 223, 0.61);
}

.confirmation_tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.confirmation_tr:nth-child(even), .confirmation_tr:last-child {
    background-color: white;
}

.confirmation_td:nth-child(1) {
    font-weight: bold;
}

.confirmation_td:nth-child(4) {
    text-align: right;
}

.confirmation_th:nth-child(2), .confirmation_th:nth-child(3), .confirmation_th:nth-child(4) {
    text-align: center;
}

.confirmation_tr:last-child .confirmation_td {
    font-weight: bold;
    color: #333;
}
